
<!DOCTYPE html>
<html>
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <style>
        body     { padding-top:20px; }
    </style>
    
    <!-- JS -->
    <script src="http://code.angularjs.org/1.2.6/angular.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="validationApp" ng-controller="mainController">
<div class="container">
    
    <!-- PAGE HEADER -->
    <div class="page-header"><h1>AngularJS Form Validation</h1></div>
   
  
    
    
    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

        
        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
            <label>First Name</label>
            <input type="text" name="name" class="form-control" ng-model="user.name" required ng-minlength="3" ng-maxlength="8">
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">First name is required.</p>
            <p ng-show="userForm.name.$error.minlength" class="help-block">Name is too short</p>
            <p ng-show="userForm.name.$error.maxlength" class="help-block">Nameis too Long</p>
        </div>
        
       
        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
            <label>Last name</label>
            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
            <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">Last name is required</p>
             
            <p ng-show="userForm.username.$error.minlength" class="help-block">Last is too short.</p>
            <p ng-show="userForm.username.$error.maxlength" class="help-block">Last is too long.</p>
        </div>
            
        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email">
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Email is required</p>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>

 
</body>
</html>


